body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.question {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #4B0082;
}

.options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #4B0082;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.options button:hover {
    background-color: #360061;
    transform: scale(1.05);
}

.options button.selected {
    background-color: #360061 !important;
    color: white;
}

.options button.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}

.next-btn {
    background-color: #4B0082;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.next-btn:hover {
    background-color: #360061;
}

.next-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
